p {
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 30px;
  color: #015668;
  background: #0D91A1;
  width: 250px;
  height: 100px;
  padding: 20px;
  margin: 30px;
  border: 5px;
  border-style: solid;
  border-color: #7DCE94;
}